.container-fluid.login
  .container
    .col-xs-12.col-sm-12.col-md-7.col-lg-8
      = image_tag 'login_teaser.png', class: 'img-responsive'
      %h2 A video email says more than a thousand words
      %p
        Finally, send video in email. Embed video in email and communicate your message perfectly personal. Bring messages to life, drive higher recipient engagement,
        and increase video views with your own fully embedded videomail. Record your own video directly from videomail7.
    .col-xs-12.col-sm-12.col-md-5.col-lg-4
      .well.no-padding
        .header
          %h2 Forgot your password?
        .wellform
          = bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            %div
              = f.email_field :email, autofocus: true
            %div= f.submit "Send me reset password instructions", class: 'btn btn-default btn-block'


          .shared_links_extern
            = render 'devise/shared/links'
