%tr
  %td.prelative
    %p
      = link_to preview_video_path(video), title: "Preview" do
        - if video.encoded
          = image_tag video.screenshot, style: "max-height: 100px;"
        - else
          = image_tag "encoding.jpg", class: 'img-responsive', style: "max-height: 100px"
      
      - if !video.encoded?
        .text-center.pabsolute.video-refresh
          = link_to refresh_video_path(video), class: 'btn btn-info', method: :put do
            %span.glyphicon.glyphicon-refresh

  %td= link_to truncate(video.formatted_title, length: 25), preview_video_path(video), title: "Preview", target: "_blank"
  %td= video_status(video)
  %td= "#{video.width}x#{video.height}"
  %td= video.created_at
  %td= number_to_human_size(video.file_size)
  %td= video_duration_human(video.duration)
  %td
    .btn-group.actions
      = link_to preview_video_path(video), title: "Preview" do
        %span.glyphicon.glyphicon-eye-open
      = link_to edit_video_path(video) do
        %span.glyphicon.glyphicon-pencil
      = link_to video_path(video), method: :delete, data:{ confirm: "Are you sure to delete?" } do
        %span.glyphicon.glyphicon-trash
      = link_to new_message_path(video_id: video.id), title: "Create message"  do
        %span.glyphicon.glyphicon-envelope
