!!!
%html{:lang => "en"}
  %head
    = render 'shared/meta_tags'
    %title videomail7
    = stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body.extern
    #google_transl_home.container
      .row
        .col-md-12
          #google_translate_element
            :javascript
              function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
              }
            %script{:src => "//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit", :type => "text/javascript"}
    = render "shared/flashes"

    = yield

    = render "shared/footer"
    = javascript_include_tag "application", "data-turbolinks-track" => true
